[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sklearn = "*"
flask = "*"
waitress = "*"
gunicorn = "*"
pydantic = "*"
locus = "*"
locust = "*"
bentoml = ">=1.0.0"
torch = "*"
transformers = "*"
diffusers = "*"
ftfy = "*"

[dev-packages]
awsebcli = "*"

[requires]
python_version = "3.10"
